# ---------- OS ----------
.DS_Store
Thumbs.db

# ---------- Node / Angular ----------
node_modules/
dist/
.angular/

# ---------- .NET / Visual Studio ----------
.vs/
bin/
obj/
*.user
*.suo

# ---------- Environment ----------
.env
.env.local

# ---------- Logs ----------
*.log
